.auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 00px 0px 0px;
    background: #fff;
    /* max-width: 400px; */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    margin-left: 13%;
    width: 1200px;
    height: 563px;
  }
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 25s sliding ease infinite; 
  }
  /* Slider indicator */
  .indicator{
    width: 100%;
    max-width: 720px;
    height: 6px;
    background: transparent;
    position: absolute;
    bottom: 0;
    
    animation: indicating 5s ease infinite; 
    
  }
  @keyframes sliding{
    0%{left: 0%; }
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{left: -400%;}
    100%{left: 0%;}
  }        
  
  @keyframes indicating{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
  } 
  @media screen and (max-width:800px) {
    .auto-slider{
      width: 100%;
      margin-left: 0;
      height: auto;
    }
    
  }